@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Aladin&family=Bebas+Neue&family=Fredoka+One&family=Kaushan+Script&family=Monoton&family=Pacifico&family=Pattaya&family=Roboto:ital,wght@1,900&family=Suez+One&display=swap");

/* font-family: 'Aladin', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Monoton', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Pattaya', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Suez One', serif;*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body.modal-open .bg-blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

:root {
  --bgcolor: #000000;
  --text-color: #fff;
  --seccolor: #5a5c5b;
  --maincolor: #dd0735;
  --second: #09000e;
  --third: #380202;
  --body-bg: #181616;
  --box-bg: #221f1f;
  --text-color: #ffffff;
}

/*
===================
   Menubar 
===================
*/
.hamburger-menu {
  --size: 30px;
  height: var(--size);
  width: var(--size);
  cursor: pointer;
  z-index: 101;
  position: relative;
  display: none;
  align-items: center;
}

.hamburger {
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  width: var(--size);
  height: 3px;
  border-radius: 0.5rem;
  background-color: var(--text-color);
  transition: 0.4s;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
}

.hamburger::before {
  top: -17px;
}

.hamburger::after {
  bottom: -17px;
}

.hamburger-menu.active .hamburger {
  background-color: transparent;
}

.hamburger-menu.active .hamburger::before {
  transform-origin: top left;
  transform: rotate(45deg);
  left: 6px;
  background-color: var(--maincolor);
}

.hamburger-menu.active .hamburger::after {
  transform-origin: bottom left;
  transform: rotate(-45deg);
  left: 6px;
  background-color: var(--maincolor);
}

/*
===================
   Navbar 
===================
*/
nav {
  transition: all 0.5s ease-in-out;
  background: rgba(14, 1, 1, 0.278);
  padding: 1.3rem 1.8rem !important;
}

nav.sticky {
  padding: 1rem 1rem !important;
  background: rgba(14, 1, 1, 0.629);
}

.navbar-brand {
  color: var(--text-color);
  font-size: 3em;
  font-family: "Fredoka One", cursive;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}

.navbar-brand i {
  font-size: 3.5rem !important;
}

.navigation {
  position: relative;
}

.navigation a {
  font-weight: 300;
  color: var(--text-color);
  font-size: 1.2rem;
  text-decoration: none;
  margin-left: 1.3rem;
  transition: all .5s ease-in-out;
}

.navigation button {
  color: var(--text-color);
  font-size: 1.4rem;
  padding: .2rem 1.5rem;
}

.navigation ms-5 {
  margin-left: 2rem;
}

.navigation a:hover {
  color: var(--maincolor);
}

.navigation a::before {
  content: "";
  width: 0px;
  height: 0px;
  background: var(--maincolor);
  position: absolute;
  bottom: 5px;
  transition: 0.8s;
}

.navigation a:hover::before {
  content: "";
  width: 40px;
  height: 4px;
}

/* 
========================
    preloader
========================
*/
.preloader {
  color: #fff;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--maincolor);
  z-index: 99999999;
  display: block;
}

.vanish {
  display: none;
}

.preloader h1 {
  font-family: "Aladin";
  font-size: 3em;
  text-align: center;
  letter-spacing: 2px;
}

.preloader i {
  font-size: 0.5em;
}

.wraper {
  height: 50px;
  margin-top: calc(50vh - 1.536rem);
}

/*=============================
         scrollbutton 
============================*/
.scrollToTop-btn {
  z-index: 999;
  position: fixed;
  color: var(--text-color);
  right: 0;
  bottom: 15px;
  text-align: center;
  line-height: 45px;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  transition: all 0.5s ease;
}

.scrollToTop-btn i {
  background: var(--maincolor);
}

.scrollToTop-btn:hover {
  bottom: 20px;
}

.scrollToTop-btn.active {
  right: 20px;
  opacity: 1;
  pointer-events: auto;
}

/*===================================
           landing Page
==================================*/
.main-banner {
  position: relative;
  max-height: 100%;
  overflow: hidden;
  margin-bottom: -7px;
}

#bg-video {
  min-width: 100%;
  min-height: 100vh;
  max-width: 100%;
  max-height: 100vh;
  object-fit: cover;
  z-index: -1;
}

#bg-video::-webkit-media-controls {
  display: none !important;
}

.video-overlay {
  position: absolute;
  background-color: rgba(31, 39, 43, 0.75);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}

.main-banner .caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* .main-banner .caption h6 {} */

.main-banner .caption h2 {
  font-size: 5rem;
  font-weight: 300 !important;
  font-family: "Fredoka One", cursive;
}

.my-bg {
  position: absolute;
  width: 100%;
}

.my-bg {
  background-image: url(./images/meetings-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
}

.bg {
  background: rgba(8, 1, 1, 0.351);
}

.my-bg {
  padding: 3rem 0rem;
}

.my-bg .row .card {
  transition: all .8s ease-in-out;
  border-radius: 1rem 0rem;
}

.my-bg .row .card:hover {
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.284);
  margin-top: 1rem;
}

.title {
  padding: 1rem 0rem;
  margin: 1rem 2rem;
}

.events-img {
  overflow: hidden;
  height: 60vh;
}

.events-img img {
  width: 100%;
  object-fit: cover;
}

.gallery video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .5s ease-in-out;
}

.gallery iframe {
  height: 15rem !important;
  transition: all .8s ease-in-out;
  margin: 1rem;
}

.gallery .photo-gallery i {
  cursor: pointer;
}

.gallery .photo-gallery img {
  cursor: pointer;
  transition: all .8s ease-in-out;
  border-radius: 1.5rem 0rem;
}

.gallery video:hover,
.gallery iframe:hover,
.gallery .photo-gallery img:hover {
  transform: scale(1.1);
}

.glider .col-lg-3 {
  height: 14rem !important;
}

.glider-next,
.glider-prev {
  top: 34% !important;
}

.glider-dot,
.modal-body i {
  cursor: pointer !important;
}

/* //postcss */

.post-card .d-flex .user-img,
.post-card .comment-img {
  width: 3.5rem;
  height: 3.5rem;
}

.post-card .d-flex .user-img img,
.post-card .comment-img img {
  object-fit: cover;
}

.rounded-pill input::placeholder {
  color: #fff;
}

.carousel-inner img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

.carousel-item {
  height: 70vh !important;
}
@media only screen and (max-width: 1200px){
  
  .book-card{
    width: 48%;
  }
}
@media only screen and (max-width: 1100px) {
  .navbar-brand {
    font-size: 2.1rem;
  }

  .navbar-brand i {
    font-size: 2.5rem !important;
  }

  nav {
    padding: 2rem .3rem !important;
  }

  nav.sticky {
    padding: 1.5rem .3rem !important;
  }

  .navigation button {
    margin-left: .5rem !important;
    font-size: 1.2rem;
  }

  .navigation a {
    margin-left: 0.8rem;
  }
}

@media only screen and (max-width: 950px) {
  .hamburger-menu {
    display: grid;
  }

  .hamburger-menu {
    --size: 60px;
    --size1: 30px;
    height: var(--size1);
    width: var(--size);
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    width: var(--size);
    height: 7px;
  }

  .navigation {
    display: none;
  }

  .navigation.active {
    z-index: 888;
    position: fixed;
    top: 0;
    background: #fff;
    left: 0;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    transition: 0.3s ease;
  }

  .navigation a {
    font-size: 2.5rem;
    color: var(--bgcolor);
    margin: 39px;
    padding: 0 20px;
    border-radius: 20px;
  }

  .navigation a:hover {
    color: var(--maincolor);
  }

  .navbar-brand {
    font-size: 2.3rem;
  }

  .navigation button {
    padding: 0.2rem 4rem;
    font-size: 2.5rem;
    color: var(--bgcolor);
    margin-top: 2rem;
  }
}

@media only screen and (max-width:850px) {
  .hamburger-menu {
    --size: 50px;
  }

  .navigation a {
    font-size: 2.4rem;
    margin: 34px;
  }

  nav {
    padding: 1rem 0.3rem !important;
  }

  nav.sticky {
    padding: 1.3rem 0.3rem !important;
  }
}

@media screen and (max-width: 768px) {
  .main-banner .caption h6 {
    font-weight: 500;
  }

  .main-banner .caption h2 {
    font-size: 36px;
  }
  .about-holder{
    max-width: 670px!important;
  }
  .contact-holder{
    max-width: 670px!important;
  }
}

@media only screen and (max-width: 600px) {

  nav {
    padding: 0.4rem !important;
  }

  nav.sticky {
    padding: 1rem 0.5rem !important;
  }

  .navbar-brand {
    font-size: 2rem;
  }

  .navigation a {
    font-size: 1.5rem;
    margin: 25px;
    border-radius: 10px;
  }

  .scrollToTop-btn {
    right: 15px !important;
    bottom: 10px !important;
  }

  .navigation button {
    padding: 0.2rem 1.5rem;
    font-size: 1.2rem;
    margin-top: 1.5rem;
  }

  .hamburger-menu {
    --size: 40px;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    height: 4px;
  }

  .hamburger::before {
    top: -12px;
  }

  .hamburger::after {
    bottom: -12px;
  }

  .navigation.active {
    width: 80%;

  }

  .title {
    padding: 1rem 0rem;
    margin: 1rem 0.5rem;
  }

  .my-bg {
    padding: 1rem 0rem;
  }

  .events-img img {
    height: 60vh;
  }

  .glider .col-lg-3 {
    height: 12rem !important;
  }

  .gallery h1 {
    margin-bottom: 1rem !important;
    padding: .5rem !important;
  }

  .carousel-inner img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
  }

  .carousel-item {
    width: 100%;
    height: 100% !important;
  }
  .gallery .py-5{
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
}
@media only screen and (max-width: 576px){
  .book-card{
    width: 90%;
  }
  .book-card:first-child{
    margin-bottom: 1rem;
  }
  .connectus{
    font-size: 0.8rem!important;
  }
  .handles{
    font-size: 1.2rem!important;
  }
}
@media only screen and (max-width: 450px) {
  .scrollToTop-btn {
    right: 10px !important;
    bottom: 3px !important;
  }

  .navigation a {
    font-size: 1.3rem;
    margin: 20px;
  }

  .hamburger-menu {
    --size: 35px;
  }

  .hamburger::before {
    top: -10px;
  }

  .hamburger::after {
    bottom: -10px;
  }

  nav.sticky {
    padding: .5rem .35rem !important;
  }

  .post-card .d-flex .user-img,
  .post-card .comment-img {
    width: 3rem;
    height: 3rem;
  }

  .post-card p {
    font-size: .85rem;
  }

  .post-card .btn,
  .bxs-smile,
  .bx-camera,
  .bxs-file-gif,
  .bx-sticker {
    font-size: .8rem !important
  }

  .d-flex .col-10 {
    width: 80.333333%;
    padding: 0rem .2rem !important;
  }

  .d-flex .col-10 input {
    font-size: .75rem;
    padding: 0rem .5rem !important;
    margin-right: .3rem !important;
  }

  .glider-next {
    right: -28px !important;
  }

  .glider-prev {
    left: -28px !important;
  }
}